name: build-tests

on: 
  pull_request:
    branches:
      - main

jobs:
  unit_testing:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
      - run: docker-compose -f docker-compose-test.yml up --abort-on-container-exit
